<ul class="bg-gray-100 w-screen">
  <%= for interest <- @my_interests do %>
    <li class={"item-#{interest.type} p-2 m-1 flex flex-row items-center"}>
      <img src={ViewUtil.interest_thumbnail(interest)} class="w-24 pr-4"/>
      <div>
        <%= interest.type %> <%= interest.title %>
      </div>
    </li>
  <% end %>
</ul>