<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
<section phx-update="ignore" phx-hook="MapThingsHandler" id="map-section">
  <div id="map">
  </div>
</section>
